@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#global-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #AB2229;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#title-wrapper {
    height: 18%;
    width: 100%;
    background-color: #AB2229;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-wrapper > h1 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
}

#carousel {
    height: 78%;
    width: 300%;
    margin-left: none;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    transition: margin-left 0.5s ease-in ;
}

#content-wrapper-one {
    height: 100%;
    width: 50%;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#content-wrapper-one > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#content-wrapper-one > div > #subtitle { 
    margin-left: 15px;
    font-size: 16px;
    color: #969898;
}

#content-wrapper-one > div > #error-message { 
    margin-left: 15px;
    font-size: 12px;
    color: transparent;
}

#field-wrapper {  
    width: 450px;
    height: 45px;
    margin: 4px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#field-wrapper > input {
    height: 100%;
    width: 88%;
    padding: 0 0 0 25px;

    border-radius: 20px;
    border: 2px solid #969898;

    font-weight: 500;
}

#field-wrapper > input::placeholder {
    font-weight: 300;
}

#field-wrapper > input:focus {
    outline: none;
}

.button {
    height: 42px;
    width: 42px;
    border-radius: 45px;
    border: 2px solid #AB2229;

    background-color: #AB2229;

    font-size: 30px;
    color: #fff;
}

.button:hover {
    border: black;
    background-color: black;
}

#vote {
    width: 84px;
    font-size: 17px;
}

#vote:disabled, #vote[disabled] {
    border: #969898;
    background-color: #969898;
}

#end {
    height: 60px;
    width: 180px;
    margin: 20px;

    font-size: 20px;
}

#content-wrapper-two {
    height: 100%;
    width: 50%;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#candidate-wrapper {
    height: 100%;
    width: 80%;
    padding: 20px;

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
}

.candidate {
    height: 220px;
    width: 160px;
    margin: 20px;
    
    border: 2px solid #969898;
    border-radius: 20px;

    position: relative;

    overflow: visible;
}

.candidate:hover {
    border: 2px solid black;
}

.candidate > .tooltip-text {
    width: 140px;
    border-radius: 6px;
    padding: 5px 10px;

    background-color: black;
    color: #fff;
    text-align: center;

    visibility: hidden;
    position: absolute;
    z-index: 2;

    top: 90%;
    left: 50%;
    margin-left: -70px;
}


.candidate:hover > .tooltip-text {
    visibility: visible;
}

.candidate.selected {
    border: 2px solid #AB2229;
}

.candidate.selected:hover {
    border: 2px solid #AB2229;
}

.candidate.selected > .tooltip-text {
    background-color: #AB2229;
    visibility: visible;
}


#content-wrapper-three {
    height: 100%;
    width: 50%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-wrapper-three > h1 {
    font-family: 'Great Vibes', cursive;
    color: #969898;
    font-size: 100px;
}
